<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='company.css') }}">
</head>
<body>
    <header>
        <div class="headersed"> 
        <a href="/main">ДОМОЙ</a>
        <a>СТРАНИЦЫ</a>
        <a>НОВОСТИ</a>
        <a>МАГАЗИН</a>
        <a href="/login">ВХОД</a>
        <img src="/static/images/user.svg">
    </div>
    </header>
    <main>
        <div class="container">
        <h1>О КОМПАНИИ</h1>
        <p>Наша команда имеет большой опыт в предоставлении широкого спектра сервисных услуг по ремонту и обслуживанию электронной техники телефонов, планшетов, ноутбуков, компьютеров в том числе и специализированной камер видеонаблюдения AXIS и PELCO, видеорегистраторов, серверного оборудования. Наша команда высококвалифицированных специалистов с радостью поможет починить вашу сломанную технику, и это не составит нам никакого труда. Мы делаем всё быстро, а главное качественно.</p>
        </div>
        <div class="form-group"> 
        <h1>КАК МЫ РАБОТАЕМ</h1>
        <img src="/static/images/Group 2.svg">
    </div>
    </main>
</body>
</html>