<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexmain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
</head>
<body>
    <header>
        <h1 class="labs">Re</h1>
        <h1>Labs</h1>
        <div class="reg"> 
    </div>
    <a href="/login">ВХОД</a>
        <img src="/static/images/tele.png">
        <img src="/static/images/tg.png">
    </header>
    <main>
        <div class="list">
            <a href="/main">ДОМОЙ</a>
            <a href="/compania">О НАС</a>
            <a>СТРАНИЦЫ</a>
            <a>НОВОСТИ</a>
            <a href="/magaz">МАГАЗИН</a>
            <a><img src='/static/images/poisk.svg'></a>
            <a><img src='/static/images/corz.svg'></a>
        </div>
        <h1 class="name">HIGH QUALITY</h1>
        <img class="imgone" src="/static/images/Group 1.svg">
        <img class="imgtwo" src="/static/images/phone.svg">
        <img class="imgthri"  src="/static/images/i (2) 1.svg">
    </main>
    <footer>
        <div class="logo">  
        <h1 class="labs">Re</h1>
        <h1>Labs</h1>
    </div>
        <div class="firstblock"> 
        <a>О компании</a>
        <a>Отзывы</a>
        <a>Статьи</a>
        </div>
        <div class="secondblock"> 
        <a href="/uslug">Все услуги</a>
        <a href="/video">Видеонаблюдение</a>
        <a href="/nout">Ноутбуки</a>
         </div>
         <div class="rightblock">  
            <div class="fr"> 
        <img src="/static/images/часы.svg">
        <p>Пн - Суб: 10:00 - 17:00 </p>
    </div>
    <div class="fr"> 
        <img src="/static/images/map.svg">
        <p>Москва, м. Новые Черемушки,ул.Профсоюзная д. 45</p>
    </div>
        <div class="fr"> 
        <img src="/static/images/tele.png">
        <p>+79042463126</p>
    </div>
        </div>
    </footer>
</body>
</html>