<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        text-align: center;
        font-size: 48px;
    }
    a{
        position: absolute;
        right:2%;
    }
    p{
        font-size: 28px;
        margin-left:100px;
    }
</style>
<body>
    <a href="/main"><img src="/static/images/back.svg"></a>
    <h1>Ремонт камер видеонаблюдения</h1>
    <p>Цены на ремонт камер видеонаблюдения</br>
        Диагностика видеокамеры</br>
        бесплатно</br>
        Ремонт видеотракта камеры</br>
        от 600</br>
        Ремонт внутренних цепей питания</br>
        от 800</br>
        Ремонт кабеля видеокамеры</br>
        от 500</br>
        Ремонт PTZ поворотной камеры</br>
        от 2000</br>
        Ремонт внутреннего шлейфа поворотной камеры</br>
        от 800</br>
        Ремонт драйверов двигателей поворотной камеры</br>
        от 2300</br>
        Ремонт сетевого чипа IP камеры</br>
        от 2000</br>
        Ремонт цепей POE IP камеры</br>
        от 1800</br>
        Замена чипа оперативной памяти</br>
        от 1500</br>
        Замена сетевого чипа</br>
        от 2000</br>
        Ремонт порта RS485</br>
        от 1500</p>
</body>
</html>