header{
    background-color: white;
    color:black;
    display:flex;
}
.headersed{
    display:flex;
    align-items: center;
    margin-left:1400px
}
.headersed a{
    margin-right:20px;
    text-decoration: none;
}
.container{
    width: 500px;
    margin-left:50px;
    font-size: 24px;
    font-weight: 500;
}
.container h1{
    color:red;
}
.form-group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}